<div class="students-record">
  <table class="table table-striped record-table">
    <thead>
      <tr>
        <th>No</th>
        <th>Student ID</th>
        <th>Student Name</th>
        <th>Department</th>
        <th>Current Semester</th>
        <th>Elective Subject 1 </th>
        <th>Elective Subject 2</th>
        <th>Elective Subject 3</th>
      </tr>
    </thead>
    <tbody>
      @for (student of students; track student.name; let i=$index){
        <tr>
          <th>{{i+1}}</th>
          <td> {{student.SID}} </td>
          <td> {{student.name}}
          <img [src]=student.studentImage class="me-2" style="width: 50px">  
          </td>
          <td> {{student.department}} </td>
          <td> {{student.semester}} </td>
          <td> {{student.elective1}} </td>
          <td> {{student.elective2}} </td>
          <td> {{student.elective3}} </td>
        </tr>
      } @empty{
        <td> No Student Details to Show </td>
      }
      
    </tbody>
  </table>
</div>
